/*LIMPANDO FORMATACOES*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}


/*----LAYOUT-----*/

#a-cabecalho {
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#a-logo,
#a-menu {
    padding: 10px;
}